

body {
    box-sizing: border-box;
    margin-top:100px;
    background: linear-gradient(to left, lightpink, lightgreen, rgb(117, 168, 236), rgb(174, 163, 226));
}

.navbar-brand {
    display: inline-block;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-right: 1rem;
    font-size: 200px;
}

h1 {
    font-family: 'Permanent Marker', cursive;
    text-align: center;
    color: rgb(255, 255, 255);
    padding-top: 5px;
    padding-bottom: 10px;
    
}    

h2 {
    font-family: 'Permanent Marker', cursive;
    color: rgb(64, 13, 160);
    text-decoration: underline;
    text-decoration-color: lightseagreen;
}

h3,  h4 {
    font-family: 'Itim', cursive;
}

p {
    font-family: Arial, Helvetica, sans-serif;
}

.pageheader{
    font-family: Helvetica, Arial, sans-serif;
}
.container {
    padding-top: 10px;
    padding-bottom: 10px;
  
}
.card {
    margin: 0 auto;
    float: none;
    margin-bottom:10px;

}

.form-group {
    font-family: Arial, Helvetica, sans-serif;
}

#portfolio{
    padding-top: 10px;
    padding-bottom:10px;
   
}



#welcome, 
#aboutme
{
   
    padding-left: 50px;
    padding-right: 50px;
}



@media screen and (max-width: 500px) {
    .column {
      width: 100%;
    }
  }



